@import 'normalize.css';
:root{
    --black: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{

    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height:  1.5;
    text-rendering: optimizeSpeed;
    
}
input{
    border: none;
    outline: none;
}
button{
    border: none;
}
.global-btn{
    width: 80px;
    height: 36px;
    border: solid 0.5px #999;
    border-radius: 2px;
    background-color: transparent;
}
.global-btn+.global-btn{
    background-color: red;
}
ul{
    list-style: none;
}
