.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #c0c0c4;
    .head{
        align-items: center;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        .logo{
            width: 15%;
            padding: 10px;
            display: flex;
            align-items: center;
            span{
                padding-left: 6px;
                font-size: 3rem;
            }
        }
        .search{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 80%;
            background-color:#f1f1f2;
            border-radius: 40px ;
            color:rgba(24, 22, 35, 0.2);
            .search-input{
                margin: 0 6px 0 6px;
                width: 100%;
                height: 2rem;
                margin: 10px;
                background-color: #f1f1f2;
                caret-color: blueviolet;
            }
            .search-input:not(:placeholder-shown) ~ .search-btn{
                background-color: red;;
            }
            .search-btn{
                border-radius: 0 40px 40px 0 ;
                border: none;
                background-color: transparent;
                color: rgba(24, 22, 35, 0.2);
                height: 100%;
                width: 36px;
                &:hover{
                    background-color: rgba(24, 22, 35, 0.3)
                }
                &:active
                {
                    background-color: rgba(24, 22, 35, 0.6)
                
                }
            }
            .search-clear,.search-loading{
                position: absolute;
                right: 36px;
                color: rgba(24, 22, 35, 0.2);
                top: 50%;
                transform: translateY(-50%);
            }
            &:focus-within{
                border: solid 1.5px rgba(24, 22, 35, 0.2);

            }
        }
        .navigate
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            height: 100%;
            
        }
    }
}
